<div class="list-group" data-toggle="collapse" data-target="#menu-content">
  <li  data-toggle="collapse" data-target="#products" class="collapsed active list-group-item">
      Finanças
  </li> 
  <ul class="list-group-flush sub-menu collapse" id="products">
          <li class="list-group-item">Resumo</li>
          <li class="list-group-item">Extrato</li>
          <li class="list-group-item">Ganhos e Despesas</li>
  </ul>
  <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
</div>
