<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <h5 class="card-title">
          {{ detail.date | formatIntDate }}
        </h5>
        <h5 class="card-title">
          {{ detail.title }}
        </h5>
        <p class="card-text">R$ {{ detail.value | number: "1.2-2" }}</p>
      </div>
      <div class="col-6" [ngClass]="{ 'no-data': isEmptyChart }">
        <div *ngIf="!isEmptyChart" id="container{{ detail.id }}"></div>
        <div *ngIf="isEmptyChart">Não há dados.</div>
      </div>
    </div>
  </div>
</div>
