<app-navbar [list_nav_bar]="list_nav_bar" [showPeriod]="false"></app-navbar>
<div class="container-content">
  <main class="new-journey-container">
    <div class="message-container">
      <h1 class="mt-4 text-center">Seja bem vindo, ao Contabilidade Pessoal</h1>
      <div class="step-message">
        <h5 class="mt-4 text-center">
          Identificamos que você ainda não possui transações cadastradas.
        </h5>
        <span class=" mt-5 badge badge-primary">1</span> Como indicado ao lado,
        utilize do botão "Adicionar Transação" para iniciar o gerenciamento dos
        seus ganhos e gastos.
        <br />

        <span class=" mt-5 badge badge-primary">2</span> A opção de transações
        no menu acima para editar/apagar ou confirmar o status de suas operações
        ficará disponível assim que possui uma operação cadastrada.
      </div>
    </div>
    <div class="show-me-new-transaction-container">
      <img
        class="show-me-new-transaction"
        src="../../../../assets/new-journey/boneco-apontando.png"
        alt=""
      />
    </div>
  </main>
</div>
